/* CSS Generico */

*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
 }
 
 .container{
   background-color: black;
   width: 900px; 
   height: 900px;
   margin: 0 auto;
 }

 /* /CSS Generico */
 
 /* Liste Shop */
 
 .item-box{
  display: inline-block;
  background-repeat: no-repeat;
 }

 /* Lista Shop 1 */
 
 .relaxed-tee{
  height: 435px;
  width: 33%;
  background-color: aqua;
}

.roses-tee{
 height: 435px;
 width: 33%;
 background-color: green;
}

.pastello{
 height: 435px;
 width: 33%;
 background-color: blue;
}
 
 /* /Lista Shop 1 */
 
 /* Lista Shop 2 */
 .unisex-tee, .stripe, .maglione{
   margin-top: 25px;
 }

 .unisex-tee{
  height: 435px;
  width: 33%;
  background-color: red;
}

.stripe{
  height: 435px;
  width: 33%;
  background-color: lightcoral;
}

.maglione{
  height: 435px;
  width: 33%;
  background-color: cyan;
}

 /* /Lista Shop 2 */
 
 /* /Liste Shop */
