/* CSS Generico */

*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
 }
 
 .container{
   width: 900px; 
   margin: 0 auto;
 }

 /* /CSS Generico */
 
 /* Liste Shop */
 
 .item-box{
  display: inline-block;
  background-repeat: no-repeat;
  width: 33%;
  position: relative;
 }

 /* Liste Shop - Immagini*/

 img{
   width: 100%;
 }

 .img-box{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

 .img-box .overlay{
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}

.img-box:hover .overlay{
  display: block;
}
 
 /* Liste Shop - Symbol*/

 .heart{
   position: absolute;
   top: 15px;
   right: 0;
   padding: 5px 10px;
   background-color: white;
   bottom: auto; 
   align-items: center;
 }

  /* Liste Shop - Sconti*/

 .discount, .sust{
  position: absolute;
  bottom: 25px;
  padding: 3px 5px;
  color: white;
  font-size: 0.7rem;
 }

 .discount{
   background-color: red;
 }

 .sust{
  left: 40px;
  background-color:green;
}

.marca{
  font-size: 0.6rem;
  color: grey;
}

.prodotto{
  font-size: 0.8rem;
  text-transform: uppercase;
}

.prezzo{
  font-size: 0.6rem;
}

.sconto{
  color: red;
}

.originale{
  color: grey;
  text-decoration: line-through;
}


 /* Lista Shop 1 */
 
 
 /* /Lista Shop 1 */
 
 /* Lista Shop 2 */

 .unisex-tee, .stripe, .maglione{
   margin-top: 25px;
   margin-bottom: 25px;
 }

 /* /Lista Shop 2 */
 
 /* /Liste Shop */
